.navList {
    display: inline;
    align-content: right;
    padding: 10%;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
}

.navHead {
    display: inline;
    align-content: left;
    text-align: left;
}

.btn {
    font-weight: bold;
}

.nav {
    width: 100%;  
}